# Bootstrap build tools
pip>=24.0
setuptools>=75.0
wheel

Flask>=2.3.0
pandas>=2.0.0
numpy>=1.25.0
scikit-learn>=1.3.0
joblib>=1.2.0

# For reading/writing files
python-dotenv>=1.0.0

# If the models use anything else
# (e.g. if the models depend on specific version of pickle or joblib)
# e.g. if features need category_encoders or similar, add them here

gunicorn>=23.0.0
